
ArithmeticOperations/.settings/org.eclipse.core.resources.prefs
ArithmeticOperations/bin/module-info.class
ArithmeticOperations/src/module-info.java
DoubleTrouble/.settings/org.eclipse.core.resources.prefs
DoubleTrouble/bin/Double/package-info.class
DoubleTrouble/bin/module-info.class
DoubleTrouble/src/Double/package-info.java
DoubleTrouble/src/module-info.java
GalacticArithmetic/.settings/org.eclipse.core.resources.prefs
GalacticArithmetic/bin/module-info.class
GalacticArithmetic/src/module-info.java
Journeycalculator/.settings/org.eclipse.core.resources.prefs
Journeycalculator/bin/module-info.class
Journeycalculator/src/module-info.java
Stringjoiner/.settings/org.eclipse.core.resources.prefs
Stringjoiner/bin/module-info.class
Stringjoiner/src/module-info.java
Temperatureconverter/.settings/org.eclipse.core.resources.prefs
Temperatureconverter/bin/module-info.class
Temperatureconverter/src/module-info.java
